cmake-build-debug/
cmake-build-release/
CMakeFiles/
*/correctness/*
/apps/benchmark/toxi*
.idea/

figures/
cecilia_benchmarking_results.ipynb
.ipynb_checkpoints/
.DS_Store
rkn_results/
ppRKN_inference_result_analysis.ipynb
